<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>{% block title %}Welcome!{% endblock %}</title>
	{% block stylesheets %}{% endblock %}
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{% block body %}{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="{{ assets('@GipsWebBundle/Resources/public/js/*') }}/ace.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
</body>
</html>