/*
Syntax error: Undefined variable: "$baseWidth".
        on line 6 of header.sass

1: header
2:   height: 100px
3:   padding: 10px 0px
4: 
5:   .content
6:     width: $baseWidth
7:     margin: auto
8: 
9:   img
10:     margin-right: 1em
11: 

Backtrace:
header.sass:6
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/script/variable.rb:49:in `_perform'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/script/node.rb:40:in `perform'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:298:in `visit_prop'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:100:in `visit'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `map'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `visit_children'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `block in visit'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:100:in `visit'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `map'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `visit_children'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `block in visit'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:100:in `visit'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `map'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `visit_children'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `block in visit'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:100:in `visit'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:7:in `visit'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/root_node.rb:20:in `render'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/engine.rb:315:in `_render'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/engine.rb:262:in `render'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/plugin/compiler.rb:201:in `each'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/plugin.rb:81:in `update_stylesheets'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/exec.rb:432:in `watch_or_update'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/exec.rb:315:in `process_result'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/exec.rb:41:in `parse'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/exec.rb:21:in `parse!'
C:/Ruby/lib/ruby/gems/2.0.0/gems/sass-3.2.8/bin/sass:9:in `<top (required)>'
C:/Ruby/bin/sass:23:in `load'
C:/Ruby/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$baseWidth\".\A         on line 6 of header.sass\A \A 1: header\A 2:   height: 100px\A 3:   padding: 10px 0px\A 4: \A 5:   .content\A 6:     width: $baseWidth\A 7:     margin: auto\A 8: \A 9:   img\A 10:     margin-right: 1em\A 11: "; }
